In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.preprocessing

In [2]:
path = "C:/Users/kunal.j.kharsadia/Downloads/ClimateChange/greenhousegases/fossil-fuel-co2-emissions-by-nation.csv"

dfnationco2new = pd.read_csv(path)

dfnationco2new.head()

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
0,1751,UNITED KINGDOM,2552,2552,0,0,0,0,0.0,0
1,1752,UNITED KINGDOM,2553,2553,0,0,0,0,0.0,0
2,1753,UNITED KINGDOM,2553,2553,0,0,0,0,0.0,0
3,1754,UNITED KINGDOM,2554,2554,0,0,0,0,0.0,0
4,1755,UNITED KINGDOM,2555,2555,0,0,0,0,0.0,0

In [3]:
dfnationco2new = dfnationco2new.drop(dfnationco2new.index[[0,1,2]])

dfnationco2new

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
3,1754,UNITED KINGDOM,2554,2554,0,0,0,0,0.00,0
4,1755,UNITED KINGDOM,2555,2555,0,0,0,0,0.00,0
5,1756,UNITED KINGDOM,2731,2731,0,0,0,0,0.00,0
6,1757,UNITED KINGDOM,2732,2732,0,0,0,0,0.00,0
7,1758,UNITED KINGDOM,2733,2733,0,0,0,0,0.00,0
8,1759,UNITED KINGDOM,2734,2734,0,0,0,0,0.00,0
9,1760,UNITED KINGDOM,2734,2734,0,0,0,0,0.00,0
10,1761,UNITED KINGDOM,2995,2995,0,0,0,0,0.00,0
11,1762,UNITED KINGDOM,2996,2996,0,0,0,0,0.00,0
12,1763,UNITED KINGDOM,2997,2997,0,0,0,0,0.00,0
13,1764,UNITED KINGDOM,2998,2998,0,0,0,0,0.00,0
14,1765,UNITED KINGDOM,2999,2999,0,0,0,0,0.00,0
15,1766,UNITED KINGDOM,3346,3346,0,0,0,0,0.00,0
16,1767,UNITED KINGDOM,3347,3347,0,0,0,0,0.00,0
17,1768,UNITED KINGDOM,3348,3348,0,0,0,0,0.00,0
18,1769,UNITED KINGDOM,3349,3349,0,0,0,0,0.00,0
19,1770,UNITED KINGDOM,3350,3350,0,0,0,0,0.00,0
20,1771,UNITED KINGDOM,3715,3715,0,0,0,0,0.00,0
21,1772,UNITED KINGDOM,3716,3716,0,0,0,0,0.00,0
22,1773,UNITED KINGDOM,3717,3717,0,0,0,0,0.00,0
23,1774,UNITED KINGDOM,3718,3718,0,0,0,0,0.00,0
24,1775,UNITED KINGDOM,3719,3719,0,0,0,0,0.00,0
25,1776,UNITED KINGDOM,4104,4104,0,0,0,0,0.00,0
26,1777,UNITED KINGDOM,4105,4105,0,0,0,0,0.00,0
27,1778,UNITED KINGDOM,4106,4106,0,0,0,0,0.00,0
28,1779,UNITED KINGDOM,4107,4107,0,0,0,0,0.00,0
29,1780,UNITED KINGDOM,4109,4109,0,0,0,0,0.00,0
30,1781,UNITED KINGDOM,4597,4597,0,0,0,0,0.00,0
31,1782,UNITED KINGDOM,4598,4598,0,0,0,0,0.00,0
32,1783,UNITED KINGDOM,4600,4600,0,0,0,0,0.00,0
...,...,...,...,...,...,...,...,...,...,...
17202,2014,SWEDEN,11841,2183,8822,496,340,0,1.22,2107
17203,2014,SWITZERLAND,9628,148,7230,1668,583,0,1.17,1312
17204,2014,SYRIAN ARAB REPUBLIC,8373,1,5198,2480,517,178,0.45,219
17205,2014,TAIWAN,72013,42516,18985,8526,1985,0,3.08,3046
17206,2014,TAJIKISTAN,1415,404,689,166,156,0,0.17,52
17207,2014,THAILAND,86232,16612,41230,23633,4757,0,1.27,3980
17208,2014,TIMOR-LESTE (FORMERLY EAST TIMOR),128,0,128,0,0,0,0.11,3
17209,2014,TOGO,715,0,467,20,228,0,0.10,81
17210,2014,TONGA,33,0,33,0,0,0,0.31,3
17211,2014,TRINIDAD AND TOBAGO,12619,0,1243,11262,114,0,9.32,575
17212,2014,TUNISIA,7862,0,3235,3291,1241,96,0.71,239
17213,2014,TURKEY,94350,37875,21662,25111,9701,0,1.22,3054
17214,2014,TURKMENISTAN,18659,0,5453,12812,394,0,3.52,402
17215,2014,TURKS AND CAICOS ISLANDS,56,0,56,0,0,0,1.66,0
17216,2014,TUVALU,3,0,3,0,0,0,0.00,0
17217,2014,UGANDA,1426,125,1011,0,291,0,0.04,98
17218,2014,UKRAINE,61985,31649,8151,20874,1310,0,1.38,109
17219,2014,UNITED ARAB EMIRATES,57641,2157,17922,34852,2176,534,6.34,17317
17220,2014,UNITED KINGDOM,114486,31081,44274,37340,1218,573,1.78,10921
17221,2014,UNITED REPUBLIC OF TANZANIA,3153,178,2117,475,382,1,0.06,170
17222,2014,UNITED STATES OF AMERICA,1432855,450047,576531,390719,11314,4244,4.43,30722
17223,2014,URUGUAY,1840,2,1700,25,112,0,0.54,251
17224,2014,UZBEKISTAN,28692,1677,2086,23929,1000,0,0.97,0
17225,2014,VANUATU,42,0,42,0,0,0,0.16,10
17226,2014,VENEZUELA,50510,204,28445,12731,1088,8042,1.65,1256
17227,2014,VIET NAM,45517,19246,12694,5349,8229,0,0.49,761
17228,2014,WALLIS AND FUTUNA ISLANDS,6,0,6,0,0,0,0.44,1
17229,2014,YEMEN,6190,137,5090,581,381,0,0.24,153
17230,2014,ZAMBIA,1228,132,797,0,299,0,0.08,33
17231,2014,ZIMBABWE,3278,2097,1005,0,177,0,0.22,9

In [4]:
dfnationco2new = dfnationco2new.replace('.',0)

In [5]:
dfnationco2new

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
3,1754,UNITED KINGDOM,2554,2554,0,0,0,0,0.00,0
4,1755,UNITED KINGDOM,2555,2555,0,0,0,0,0.00,0
5,1756,UNITED KINGDOM,2731,2731,0,0,0,0,0.00,0
6,1757,UNITED KINGDOM,2732,2732,0,0,0,0,0.00,0
7,1758,UNITED KINGDOM,2733,2733,0,0,0,0,0.00,0
8,1759,UNITED KINGDOM,2734,2734,0,0,0,0,0.00,0
9,1760,UNITED KINGDOM,2734,2734,0,0,0,0,0.00,0
10,1761,UNITED KINGDOM,2995,2995,0,0,0,0,0.00,0
11,1762,UNITED KINGDOM,2996,2996,0,0,0,0,0.00,0
12,1763,UNITED KINGDOM,2997,2997,0,0,0,0,0.00,0
13,1764,UNITED KINGDOM,2998,2998,0,0,0,0,0.00,0
14,1765,UNITED KINGDOM,2999,2999,0,0,0,0,0.00,0
15,1766,UNITED KINGDOM,3346,3346,0,0,0,0,0.00,0
16,1767,UNITED KINGDOM,3347,3347,0,0,0,0,0.00,0
17,1768,UNITED KINGDOM,3348,3348,0,0,0,0,0.00,0
18,1769,UNITED KINGDOM,3349,3349,0,0,0,0,0.00,0
19,1770,UNITED KINGDOM,3350,3350,0,0,0,0,0.00,0
20,1771,UNITED KINGDOM,3715,3715,0,0,0,0,0.00,0
21,1772,UNITED KINGDOM,3716,3716,0,0,0,0,0.00,0
22,1773,UNITED KINGDOM,3717,3717,0,0,0,0,0.00,0
23,1774,UNITED KINGDOM,3718,3718,0,0,0,0,0.00,0
24,1775,UNITED KINGDOM,3719,3719,0,0,0,0,0.00,0
25,1776,UNITED KINGDOM,4104,4104,0,0,0,0,0.00,0
26,1777,UNITED KINGDOM,4105,4105,0,0,0,0,0.00,0
27,1778,UNITED KINGDOM,4106,4106,0,0,0,0,0.00,0
28,1779,UNITED KINGDOM,4107,4107,0,0,0,0,0.00,0
29,1780,UNITED KINGDOM,4109,4109,0,0,0,0,0.00,0
30,1781,UNITED KINGDOM,4597,4597,0,0,0,0,0.00,0
31,1782,UNITED KINGDOM,4598,4598,0,0,0,0,0.00,0
32,1783,UNITED KINGDOM,4600,4600,0,0,0,0,0.00,0
...,...,...,...,...,...,...,...,...,...,...
17202,2014,SWEDEN,11841,2183,8822,496,340,0,1.22,2107
17203,2014,SWITZERLAND,9628,148,7230,1668,583,0,1.17,1312
17204,2014,SYRIAN ARAB REPUBLIC,8373,1,5198,2480,517,178,0.45,219
17205,2014,TAIWAN,72013,42516,18985,8526,1985,0,3.08,3046
17206,2014,TAJIKISTAN,1415,404,689,166,156,0,0.17,52
17207,2014,THAILAND,86232,16612,41230,23633,4757,0,1.27,3980
17208,2014,TIMOR-LESTE (FORMERLY EAST TIMOR),128,0,128,0,0,0,0.11,3
17209,2014,TOGO,715,0,467,20,228,0,0.10,81
17210,2014,TONGA,33,0,33,0,0,0,0.31,3
17211,2014,TRINIDAD AND TOBAGO,12619,0,1243,11262,114,0,9.32,575
17212,2014,TUNISIA,7862,0,3235,3291,1241,96,0.71,239
17213,2014,TURKEY,94350,37875,21662,25111,9701,0,1.22,3054
17214,2014,TURKMENISTAN,18659,0,5453,12812,394,0,3.52,402
17215,2014,TURKS AND CAICOS ISLANDS,56,0,56,0,0,0,1.66,0
17216,2014,TUVALU,3,0,3,0,0,0,0.00,0
17217,2014,UGANDA,1426,125,1011,0,291,0,0.04,98
17218,2014,UKRAINE,61985,31649,8151,20874,1310,0,1.38,109
17219,2014,UNITED ARAB EMIRATES,57641,2157,17922,34852,2176,534,6.34,17317
17220,2014,UNITED KINGDOM,114486,31081,44274,37340,1218,573,1.78,10921
17221,2014,UNITED REPUBLIC OF TANZANIA,3153,178,2117,475,382,1,0.06,170
17222,2014,UNITED STATES OF AMERICA,1432855,450047,576531,390719,11314,4244,4.43,30722
17223,2014,URUGUAY,1840,2,1700,25,112,0,0.54,251
17224,2014,UZBEKISTAN,28692,1677,2086,23929,1000,0,0.97,0
17225,2014,VANUATU,42,0,42,0,0,0,0.16,10
17226,2014,VENEZUELA,50510,204,28445,12731,1088,8042,1.65,1256
17227,2014,VIET NAM,45517,19246,12694,5349,8229,0,0.49,761
17228,2014,WALLIS AND FUTUNA ISLANDS,6,0,6,0,0,0,0.44,1
17229,2014,YEMEN,6190,137,5090,581,381,0,0.24,153
17230,2014,ZAMBIA,1228,132,797,0,299,0,0.08,33
17231,2014,ZIMBABWE,3278,2097,1005,0,177,0,0.22,9

In [6]:
dfnationco2new.dtypes

Year                             int64
Country                         object
Total                            int64
Solid Fuel                       int64
Liquid Fuel                      int64
Gas Fuel                         int64
Cement                           int64
Gas Flaring                      int64
Per Capita                     float64
Bunker fuels (Not in Total)      int64
dtype: object

In [7]:
print (dfnationco2new.groupby('Country').count())

                                                Year  Total  Solid Fuel  \
Country
AFGHANISTAN                                       66     66          66
ALBANIA                                           82     82          82
ALGERIA                                          105    105         105
ANDORRA                                           25     25          25
ANGOLA                                            65     65          65
ANGUILLA                                          25     25          25
ANTARCTIC FISHERIES                               21     21          21
ANTIGUA & BARBUDA                                 58     58          58
ARGENTINA                                        128    128         128
ARMENIA                                           23     23          23
ARUBA                                             29     29          29
AUSTRALIA                                        164    164         164
AUSTRIA                                          197    197         197
AZERBAIJAN                                        23     23          23
BAHAMAS                                           65     65          65
BAHRAIN                                           82     82          82
BANGLADESH                                        43     43          43
BARBADOS                                          87     87          87
BELARUS                                           23     23          23
BELGIUM                                          186    186         186
BELIZE                                            65     65          65
BENIN                                             57     57          57
BERMUDA                                           65     65          65
BHUTAN                                            45     45          45
BONAIRE, SAINT EUSTATIUS, AND SABA                 3      3           3
BOSNIA & HERZEGOVINA                              23     23          23
BOTSWANA                                          43     43          43
BRAZIL                                           114    114         114
BRITISH VIRGIN ISLANDS                            53     53          53
BRUNEI (DARUSSALAM)                               85     85          85
...                                              ...    ...         ...
THAILAND                                          81     81          81
TIMOR-LESTE (FORMERLY EAST TIMOR)                 13     13          13
TOGO                                              65     65          65
TONGA                                             65     65          65
TRINIDAD AND TOBAGO                              107    107         107
TUNISIA                                           91     91          91
TURKEY                                           150    150         150
TURKMENISTAN                                      23     23          23
TURKS AND CAICOS ISLANDS                          25     25          25
TUVALU                                            25     25          25
UGANDA                                            65     65          65
UKRAINE                                           23     23          23
UNITED ARAB EMIRATES                              56     56          56
UNITED KINGDOM                                   261    261         261
UNITED KOREA                                      36     36          36
UNITED REPUBLIC OF TANZANIA                       45     45          45
UNITED STATES OF AMERICA                         215    215         215
URUGUAY                                           83     83          83
USSR                                             140    140         140
UZBEKISTAN                                        23     23          23
VANUATU                                           53     53          53
VENEZUELA                                        104    104         104
VIET NAM                                          99     99          99
WALLIS AND FUTUNA ISLANDS                         14     14          14
YEMEN                                             24     24          24
YUGOSLAVIA (FORMER SOCIALIST FEDERAL REPUBLIC)    97     97          97
YUGOSLAVIA (MONTENEGRO & SERBIA)                  14     14          14
ZAMBIA                                            51     51          51
ZANZIBAR                                          20     20          20
ZIMBABWE                                          98     98          98

                                                Liquid Fuel  Gas Fuel  Cement  \
Country
AFGHANISTAN                                              66        66      66
ALBANIA                                                  82        82      82
ALGERIA                                                 105       105     105
ANDORRA                                                  25        25      25
ANGOLA                                                   65        65      65
ANGUILLA                                                 25        25      25
ANTARCTIC FISHERIES                                      21        21      21
ANTIGUA & BARBUDA                                        58        58      58
ARGENTINA                                               128       128     128
ARMENIA                                                  23        23      23
ARUBA                                                    29        29      29
AUSTRALIA                                               164       164     164
AUSTRIA                                                 197       197     197
AZERBAIJAN                                               23        23      23
BAHAMAS                                                  65        65      65
BAHRAIN                                                  82        82      82
BANGLADESH                                               43        43      43
BARBADOS                                                 87        87      87
BELARUS                                                  23        23      23
BELGIUM                                                 186       186     186
BELIZE                                                   65        65      65
BENIN                                                    57        57      57
BERMUDA                                                  65        65      65
BHUTAN                                                   45        45      45
BONAIRE, SAINT EUSTATIUS, AND SABA                        3         3       3
BOSNIA & HERZEGOVINA                                     23        23      23
BOTSWANA                                                 43        43      43
BRAZIL                                                  114       114     114
BRITISH VIRGIN ISLANDS                                   53        53      53
BRUNEI (DARUSSALAM)                                      85        85      85
...                                                     ...       ...     ...
THAILAND                                                 81        81      81
TIMOR-LESTE (FORMERLY EAST TIMOR)                        13        13      13
TOGO                                                     65        65      65
TONGA                                                    65        65      65
TRINIDAD AND TOBAGO                                     107       107     107
TUNISIA                                                  91        91      91
TURKEY                                                  150       150     150
TURKMENISTAN                                             23        23      23
TURKS AND CAICOS ISLANDS                                 25        25      25
TUVALU                                                   25        25      25
UGANDA                                                   65        65      65
UKRAINE                                                  23        23      23
UNITED ARAB EMIRATES                                     56        56      56
UNITED KINGDOM                                          261       261     261
UNITED KOREA                                             36        36      36
UNITED REPUBLIC OF TANZANIA                              45        45      45
UNITED STATES OF AMERICA                                215       215     215
URUGUAY                                                  83        83      83
USSR                                                    140       140     140
UZBEKISTAN                                               23        23      23
VANUATU                                                  53        53      53
VENEZUELA                                               104       104     104
VIET NAM                                                 99        99      99
WALLIS AND FUTUNA ISLANDS                                14        14      14
YEMEN                                                    24        24      24
YUGOSLAVIA (FORMER SOCIALIST FEDERAL REPUBLIC)           97        97      97
YUGOSLAVIA (MONTENEGRO & SERBIA)                         14        14      14
ZAMBIA                                                   51        51      51
ZANZIBAR                                                 20        20      20
ZIMBABWE                                                 98        98      98

                                                Gas Flaring  Per Capita  \
Country
AFGHANISTAN                                              66          66
ALBANIA                                                  82          82
ALGERIA                                                 105         105
ANDORRA                                                  25          25
ANGOLA                                                   65          65
ANGUILLA                                                 25          25
ANTARCTIC FISHERIES                                      21          21
ANTIGUA & BARBUDA                                        58          58
ARGENTINA                                               128         128
ARMENIA                                                  23          23
ARUBA                                                    29          29
AUSTRALIA                                               164         164
AUSTRIA                                                 197         197
AZERBAIJAN                                               23          23
BAHAMAS                                                  65          65
BAHRAIN                                                  82          82
BANGLADESH                                               43          43
BARBADOS                                                 87          87
BELARUS                                                  23          23
BELGIUM                                                 186         186
BELIZE                                                   65          65
BENIN                                                    57          57
BERMUDA                                                  65          65
BHUTAN                                                   45          45
BONAIRE, SAINT EUSTATIUS, AND SABA                        3           3
BOSNIA & HERZEGOVINA                                     23          23
BOTSWANA                                                 43          43
BRAZIL                                                  114         114
BRITISH VIRGIN ISLANDS                                   53          53
BRUNEI (DARUSSALAM)                                      85          85
...                                                     ...         ...
THAILAND                                                 81          81
TIMOR-LESTE (FORMERLY EAST TIMOR)                        13          13
TOGO                                                     65          65
TONGA                                                    65          65
TRINIDAD AND TOBAGO                                     107         107
TUNISIA                                                  91          91
TURKEY                                                  150         150
TURKMENISTAN                                             23          23
TURKS AND CAICOS ISLANDS                                 25          25
TUVALU                                                   25          25
UGANDA                                                   65          65
UKRAINE                                                  23          23
UNITED ARAB EMIRATES                                     56          56
UNITED KINGDOM                                          261         261
UNITED KOREA                                             36          36
UNITED REPUBLIC OF TANZANIA                              45          45
UNITED STATES OF AMERICA                                215         215
URUGUAY                                                  83          83
USSR                                                    140         140
UZBEKISTAN                                               23          23
VANUATU                                                  53          53
VENEZUELA                                               104         104
VIET NAM                                                 99          99
WALLIS AND FUTUNA ISLANDS                                14          14
YEMEN                                                    24          24
YUGOSLAVIA (FORMER SOCIALIST FEDERAL REPUBLIC)           97          97
YUGOSLAVIA (MONTENEGRO & SERBIA)                         14          14
ZAMBIA                                                   51          51
ZANZIBAR                                                 20          20
ZIMBABWE                                                 98          98

                                                Bunker fuels (Not in Total)
Country
AFGHANISTAN                                                              66
ALBANIA                                                                  82
ALGERIA                                                                 105
ANDORRA                                                                  25
ANGOLA                                                                   65
ANGUILLA                                                                 25
ANTARCTIC FISHERIES                                                      21
ANTIGUA & BARBUDA                                                        58
ARGENTINA                                                               128
ARMENIA                                                                  23
ARUBA                                                                    29
AUSTRALIA                                                               164
AUSTRIA                                                                 197
AZERBAIJAN                                                               23
BAHAMAS                                                                  65
BAHRAIN                                                                  82
BANGLADESH                                                               43
BARBADOS                                                                 87
BELARUS                                                                  23
BELGIUM                                                                 186
BELIZE                                                                   65
BENIN                                                                    57
BERMUDA                                                                  65
BHUTAN                                                                   45
BONAIRE, SAINT EUSTATIUS, AND SABA                                        3
BOSNIA & HERZEGOVINA                                                     23
BOTSWANA                                                                 43
BRAZIL                                                                  114
BRITISH VIRGIN ISLANDS                                                   53
BRUNEI (DARUSSALAM)                                                      85
...                                                                     ...
THAILAND                                                                 81
TIMOR-LESTE (FORMERLY EAST TIMOR)                                        13
TOGO                                                                     65
TONGA                                                                    65
TRINIDAD AND TOBAGO                                                     107
TUNISIA                                                                  91
TURKEY                                                                  150
TURKMENISTAN                                                             23
TURKS AND CAICOS ISLANDS                                                 25
TUVALU                                                                   25
UGANDA                                                                   65
UKRAINE                                                                  23
UNITED ARAB EMIRATES                                                     56
UNITED KINGDOM                                                          261
UNITED KOREA                                                             36
UNITED REPUBLIC OF TANZANIA                                              45
UNITED STATES OF AMERICA                                                215
URUGUAY                                                                  83
USSR                                                                    140
UZBEKISTAN                                                               23
VANUATU                                                                  53
VENEZUELA                                                               104
VIET NAM                                                                 99
WALLIS AND FUTUNA ISLANDS                                                14
YEMEN                                                                    24
YUGOSLAVIA (FORMER SOCIALIST FEDERAL REPUBLIC)                           97
YUGOSLAVIA (MONTENEGRO & SERBIA)                                         14
ZAMBIA                                                                   51
ZANZIBAR                                                                 20
ZIMBABWE                                                                 98

[256 rows x 9 columns]

In [8]:
dfnationco2new[['Country', 'Total', 'Solid Fuel', 'Liquid Fuel', 'Gas Fuel', 'Cement', 'Gas Flaring', 'Per Capita', 'Bunker fuels (Not in Total)']].groupby(['Country'], as_index=False).sum().sort_values(by='Total', ascending=False)

,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
242,UNITED STATES OF AMERICA,102510260,45118555,38394455,18008958,699284,289013,322.09,1560803
40,CHINA (MAINLAND),47649834,36465932,6546080,870621,3758846,8355,39.64,143471
244,USSR,30790355,15021732,10051007,5063003,506937,147678,111.02,16690
239,UNITED KINGDOM,20493155,15382189,3320154,1602855,134590,53361,176.39,458581
113,JAPAN,14585037,4617433,8092780,1356984,517477,364,123.75,531140
89,GERMANY,12764185,9558059,2005795,1065143,128059,7129,65.48,184007
105,INDIA,11385351,7675924,2723599,396766,546472,42595,11.41,75025
189,RUSSIAN FEDERATION,10466421,2859713,2341069,4999104,142883,123656,71.88,124786
80,FRANCE (INCLUDING MONACO),9697149,5042414,3627997,816367,197209,13162,121.24,289481
34,CANADA,8038299,2497355,3539211,1850170,86408,65152,266.19,111693
71,FEDERAL REPUBLIC OF GERMANY,7492600,4354249,2479917,497459,159797,1174,122.09,152110
176,POLAND,6960097,5916215,655745,274322,113692,119,155.94,18245
111,ITALY (INCLUDING SAN MARINO),6032718,1160794,3385248,1205749,280924,0,99.33,276055
210,SOUTH AFRICA,5030416,4359409,570746,37096,63157,0,135.88,115302
144,MEXICO,4768665,341051,3231761,906156,160651,129048,53.84,91051
11,AUSTRALIA,4252724,2520489,1250056,428444,49864,3875,237.58,127573
109,ISLAMIC REPUBLIC OF IRAN,4028153,50724,2146793,1261314,140034,429288,69.07,136967
181,REPUBLIC OF KOREA,3824538,1589592,1668242,349772,216895,32,86.25,216203
211,SPAIN,3529437,1198366,1808072,320659,202067,283,82.27,304730
27,BRAZIL,3513002,560074,2483444,220017,212152,37323,23.40,106978
77,FORMER GERMAN DEMOCRATIC REPUBLIC,3323467,2893264,318555,65638,46005,0,188.82,0
200,SAUDI ARABIA,3266162,0,2039599,874797,105488,246276,187.19,332248
19,BELGIUM,3184611,2000563,828322,293447,62279,0,195.76,235271
53,CZECHOSLOVAKIA,3068081,2612263,324428,88225,43153,0,143.38,0
106,INDONESIA,2999862,649682,1584922,525278,125795,114182,14.33,33050
156,NETHERLANDS,2966741,972016,1036804,930754,25551,1613,172.55,596990
237,UKRAINE,2200321,1023710,288891,856697,31019,0,45.46,9453
188,ROMANIA,2188014,652817,713583,751340,70277,0,93.35,3272
232,TURKEY,2184948,911854,793266,289052,190373,406,37.60,30189
8,ARGENTINA,2013085,139429,1145352,630756,50231,47304,60.38,36509
...,...,...,...,...,...,...,...,...,...
246,VANUATU,1036,42,994,0,0,0,7.43,358
43,COMOROS,1005,0,1005,0,0,0,2.06,41
229,TONGA,971,0,971,0,0,0,10.13,60
59,DOMINICA,953,0,953,0,0,0,13.37,23
193,SABAH,916,0,916,0,0,0,1.27,203
215,ST. PIERRE & MIQUELON,915,139,782,0,0,0,157.17,1107
227,TIMOR-LESTE (FORMERLY EAST TIMOR),859,0,859,0,0,0,0.82,34
72,FEDERATED STATES OF MICRONESIA,790,0,790,0,0,0,7.43,23
234,TURKS AND CAICOS ISLANDS,728,0,728,0,0,0,28.80,0
81,FRENCH EQUATORIAL AFRICA,726,20,705,0,0,0,0.13,0
198,SAO TOME & PRINCIPE,711,0,711,0,0,0,5.73,106
5,ANGUILLA,706,0,706,0,0,0,58.12,0
196,SAINT MARTIN (DUTCH PORTION),585,0,585,0,0,0,16.07,609
140,MARSHALL ISLANDS,524,0,524,0,0,0,10.10,0
45,COOK ISLANDS,494,0,494,0,0,0,26.04,123
118,KIRIBATI,465,0,465,0,0,0,6.75,49
147,MONTSERRAT,379,0,379,0,0,0,53.38,47
41,CHRISTMAS ISLAND,363,0,363,0,0,0,121.12,0
24,"BONAIRE, SAINT EUSTATIUS, AND SABA",261,0,261,0,0,0,11.05,565
191,RWANDA-URUNDI,171,5,167,0,0,0,0.03,0
214,ST. KITTS-NEVIS-ANGUILLA,170,0,170,0,0,0,3.57,0
254,ZANZIBAR,162,0,162,0,0,0,0.52,0
129,LIECHTENSTEIN,115,0,0,115,0,0,3.14,0
249,WALLIS AND FUTUNA ISLANDS,97,0,97,0,0,0,6.69,13
194,SAINT HELENA,85,0,85,0,0,0,17.31,6
162,NIUE,64,0,64,0,0,0,24.77,7
235,TUVALU,60,0,60,0,0,0,0.00,0
178,PUERTO RICO,57,0,57,0,0,0,0.00,0
125,LEEWARD ISLANDS,49,9,39,0,0,0,0.67,0
6,ANTARCTIC FISHERIES,42,0,42,0,0,0,38.53,1253

In [ ]:
dfnationco2new[['Nation', 'Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)', 'Emissions from solid fuel consumption', 'Emissions from liquid fuel consumption', 'Emissions from gas fuel consumption', 'Emissions from cement production', 'Emissions from gas flaring', 'Per capita CO2 emissions (metric tons of carbon)', 'Emissions from bunker fuels (not included in the totals)']].groupby(['Nation'], as_index=False).sum().sort_values(by='Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)', ascending=False)